/field_recordings/
/hw2.wav
/nshaheed
/hw2_1.wav
/sounds/trem_slow/
/init.wav
beg*.wav
*.asd
/bottle1.wav
/bottle2.wav
/bottle3.wav
/bottle4.wav
/cmaj_end1.wav
/cmaj_end2.wav
/cmaj_end3.wav
/hw2 Project/
/hw2_final_mix.wav
/hw2_final_mix_normalized.wav
